<h2>検索</h2>
<%= form_tag(search_trends_path, method: 'get', class: 'form-inline') do %>
  <%= text_field_tag :q, @q, class: 'form-control' %>
  <%= submit_tag 'Search', name: nil, class: 'btn btn-small btn-primary mb-2' %>
<% end %>
<hr>

<% if @q != nil %>
  <% if @trends.length > 0 %>
  <table>
    <% @trends.each do |date,ary| %>
    <tr>
      <td nowrap><%= l(date, format: :long) %></td>
      <td nowrap><% ary.each do |trend| %>
            <%= link_to trend.label, trend, class: 'href' %>
          <% end %></td>
    </tr>
    <% end %>
  </table>
  <%= paginate @trends %>
  <% else %>
    <p><%= @q.blank? ? t('no_kw_err') : t('no_results') %><p>
  <% end %>
<% end %>
